PRIVATE_API_KEY='somekey'
PRIVATE_API_BASE_URL='/api'

OIDC_AUTH_SERVER_ISSUER_URL='some issuer url'
OIDC_AUTH_SERVER_CLIENT_ID='your client id'
OIDC_AUTH_SERVER_CLIENT_SECRET='your client secret (empty for none)'
OIDC_AUTH_SERVER_AUTHORIZATION_URL='some authorization url (from issuer)'
OIDC_AUTH_SERVER_TOKEN_URL='some token url (from issuer)'
OIDC_AUTH_SERVER_USER_INFO_URL='some user info url (from issuer)'
OIDC_AUTH_SERVER_LOGOUT_URL='some logout url (from issuer)'

NUXT_OIDC_TOKEN_KEY='base64_encoded_key'
NUXT_OIDC_SESSION_SECRET='48_characters_random_string'
NUXT_OIDC_AUTH_SESSION_SECRET='48_characters_random_string'

NODE_ENV='development or production'

NODE_TLS_REJECT_UNAUTHORIZED=0 or 1