PRIVATE_API_KEY='somekey'
PRIVATE_API_BASE_URL='/api'

OIDC_AUTH_SERVER_ISSUER_URL='some issuer url'
OIDC_AUTH_SERVER_CLIENT_ID='your client id'
OIDC_AUTH_SERVER_CLIENT_SECRET='your client secret (empty for none)'

NODE_ENV='development or production'