# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
data

server/api/professors.ts
server/api/reviews.ts
server/api/schools.ts
server/api/get-review.ts
server/api/submit-review.ts

# Local env files
.env
.env.*
!.env.example
